/* Variables for breakpoints */
:root {
    --breakpoint-sm: 480px;
    --breakpoint-mm: 580px;
    --breakpoint-md: 720px;
    --breakpoint-ml: 820px;
    --breakpoint-lg: 1000px;
    --breakpoint-xl: 1120px;
  }
  
  /* Media Queries */
  @media (max-width: 480px) {
    /* Add your CSS styles for 'sm' here */
  }
  
  @media (max-width: 580px) {
    /* Add your CSS styles for 'mm' here */
  }
  
  @media (max-width: 720px) {
    /* Add your CSS styles for 'md' here */
  }
  
  @media (max-width: 820px) {
    /* Add your CSS styles for 'ml' here */
  }
  
  @media (max-width: 1000px) {
    /* Add your CSS styles for 'lg' here */
  }
  
  @media (max-width: 1120px) {
    /* Add your CSS styles for 'xl' here */
  }
  